*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)),url(Images/login.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}
.background table{
    margin-left: 20px;
    font-weight: bold;
}
.background .con{
    background: rgba(0,0,0,0.8);
    width: 30%;
    height: 50%;
    padding: 10PX;
    margin: 0 auto;    
}
.background .con h2{
    text-align: center;
    margin-bottom:20px;
    padding: 8px 0;
    font-size: 35px;
    border-bottom: 2px solid black;
    color: white;
}
.con form input[type=text]{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 15px;
    font-weight: bold;
    background-color: rgba(240, 248, 255, 0.767);
    width: 230px;
}
.con form input[type=password]{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 15px;
    background-color: rgba(240, 248, 255, 0.767);
    width: 230px;
}
.con form select{
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 15px;
    font-weight: bold;
    background-color: rgba(240, 248, 255, 0.767);
}
.con .end{
    text-align: end;
    padding: 0 10px;
    color: white;
}

.con form input[type=submit]{
    background-color:#4CAF50;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    margin: 30px 15px;
}
.con form input[type=submit]:hover{
    cursor: pointer;
    background-color: #3e8e41;
}
.con form input[type=reset]{
    background-color:#4CAF50;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
}
.con form input[type=reset]:hover{
    cursor: pointer;
    background-color: #3e8e41;
}
.con .home{
    
    font-weight: normal;
}
.con .home a{
    text-decoration: none;
    color: rgb(177, 57, 57);
}